.button {
    -fx-background-color: #ffffff;
    -fx-min-width: 150;
    -fx-min-height: 50;
    -fx-text-align: CENTER;
    -fx-border-style: SOLID;
}

.button:hover {
    -fx-background-color: #c6c6c6;
}

.button:pressed {
    -fx-background-color: #429927;
}
.label {
    -fx-font-size: 16px;
    -fx-font-weight: BOLD;
}
.text-field{
    -fx-background-color: #f2f6ff;
    -fx-border-style: DOTTED;
}
GridPane{
    -fx-hgap: 10px;
    -fx-vgap: 10px;
    -fx-padding: 5px;
    -fx-background-image: url("/background/background.jpg");
    -fx-background-size: COVER;

    }

